.buttonPrimary {
  min-width: 50px;
  outline: none;
  background-color: white;
  font-size: 22px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.buttonSecondary {
  min-width: 50px;
  outline: none;
  background-color: black;
  color: white;
  font-size: 22px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
}
